.page-content-wrapper {
  @include flexbox;
  background-color: whitesmoke;
  min-height: 100vh;
  font-family: 'Lato-Bold';
  position: relative;

  &.active {
    height: 100vh;
    overflow: hidden;
  }

  .logo-on-start {
    &.active {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 124;
      background-image: url('../images/pokedex-desktop-01.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .content {
    padding-top: 50px;
    position: relative;
    @include flex-basis(auto);
  }

  .all-types-list {
  }

  .pokemon_item {
    @include flex-basis(calc(33% - 200px));
    position: relative;
    padding: 10px;
    margin: 15px;
    margin-right: 100px;
    background: #fff;
    overflow: hidden;
    font-family: 'Lato-Regular';
    border: 2px solid black;
    text-align: center;
    border-radius: 80px;
    text-decoration: none;
    color: #222;

    .pokemon_type_item {
      position: relative;

      &::after {
        content: '>';
        font-size: 35px;
        position: absolute;
        width: 40px;
        height: 20px;
        position: absolute;
        right: -10px;
        top: -12px;
        color: 0;
      }
    }

    p {
      font-family: 'Lato-Bold';
    }

    &.bug {
      background-color: green;
    }

    &.fire {
      background-color: orangered;
    }

    &.normal {
      background-color: darksalmon;
    }

    &.dark {
      background-color: purple;
    }

    &.flying {
      background-color: lightblue;
    }
    
    &.poison {
      background-color: violet;
    }

    &.dragon {
      background-color: aqua;
    }

    &.ghost {
      background-color: rgba(purple, 0.5);
    }

    &.psyhic {
      background-color: orchid;
    }

    &.water {
      background-color: blueviolet;
    }

    &.ice {
      background-color: lightcyan
    }

    &.fighting {
      background-color: orange
    }

    &.steel {
      background-color: aquamarine
    }

    &.ground {
      background-color: brown;
    }

    &.fairy {
      background-color: red;
    }

    &.rock {
      background-color: burlywood;
    }

    &.grass {
      background-color: greenyellow;
    }

    &.electric {
      background-color: yellowgreen;
    }

    &:hover {
      text-decoration: none;
      color: #222;
    }

    .img-wrapper {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .pokemon_item-name {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 20px;
      font-family: 'Lato-Bold';
    }

    .specific-details {
      @include flexbox;
      background: rgb(231, 231, 231);
      margin: 15px -3px;
      padding: 0 15px;
    }

    .two-columns {
      @include flexbox;
      @include flex-wrap(wrap);
      
      & > p {
        @include flex-basis(100%);
        @include flexbox;
        font-size: 20px;
        line-height: 22px;
        font-family: 'Lato-Bold';
      }

      p {
        &:first-of-type {
          @include align-items(flex-end);
        }
      }

      &.pokemon-xp {
        @include justify-content(center);
        padding-bottom: 15px;
        p {
          display: block;
          text-align: center;
        }
      }
    }

    .pokemon_item-id {
      font-size: 18px;
      line-height: 20px;
      font-family: 'Lato-Bold';
      margin-bottom: 8px;
      padding-top: 15px;
    }
    // padding: 60px;

    // > *,
    // iframe {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   bottom: 0;
    //   right: 0;
    // }

    // &::after {
    //   content: '';
    //   display: block;
    //   margin: 0 auto; 
    //   transform: rotate(-45deg);
    //   background: white;
    //   padding-bottom: 100%;
    //   overflow: hidden;
    // }
  }
}

// .pokemon_item-content {
 
// }

.row {
  margin: 0 auto;
  max-width: 1440px;
  padding:0 25px;
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-basis(100%);

  &.active {
    max-width: 100%;
    padding: 0;
    margin: 0;
    flex-basis: 100% !important;
  }
}

.pagination {
  @include flexbox;
  @include justify-content(center);
  @include flex-basis(100%);
  margin-bottom: 50px;

  .item {
    margin-top: 35px;
    padding: 10px;
    font-size: 16px;
    color: #222;
    background-color: #fff;
    border: 1px solid grey;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    user-select: none; 
    height: 40px;
    transition: color 0.3s ease-in, border-color 0.3s ease-in-out;

    &.active {
      text-decoration: none;
      cursor: pointer;
      border-color: rgb(247, 217, 50);
      color: rgb(247, 217, 50)
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
      border-color: rgb(247, 217, 50);
      color: rgb(247, 217, 50)
    }

    &:active {
      user-select: none;
    }

    &:focus {outline:0;}
  }

}


// POKEMON DETAILS 

.pokemon-details-all {
  font-family: 'Lato-Regular';
  font-size: 24px;
  line-height: 26px;

  .pokemon-type {
    padding: 7px 15px 10px 15px;
    color: #fff;
    border-radius: 30px;
    margin-left: 12px;
    font-size: 17px;
    line-height: 19px;

    &.bug {
      background-color: green;
    }

    &.fire {
      background-color: orangered;
    }

    &.normal {
      background-color: darksalmon;
    }

    &.dark {
      background-color: purple;
    }

    &.flying {
      background-color: lightblue;
    }
    
    &.poison {
      background-color: violet;
    }

    &.dragon {
      background-color: aqua;
    }

    &.ghost {
      background-color: rgba(purple, 0.5);
    }

    &.psyhic {
      background-color: orchid;
    }

    &.water {
      background-color: blueviolet;
    }

    &.ice {
      background-color: lightcyan
    }

    &.fighting {
      background-color: orange
    }

    &.steel {
      background-color: aquamarine
    }

    &.ground {
      background-color: brown;
    }

    &.fairy {
      background-color: red;
    }

    &.rock {
      background-color: burlywood;
    }

    &.grass {
      background-color: greenyellow;
    }

    &.electric {
      background-color: yellowgreen;
    }
  }

  .pokemon-first-row {
    @include flexbox;
    @include align-items(center);
    margin-bottom: 30px;

    .pokemon-name {
      text-transform: capitalize;
      margin: 0 15px 0 5px;
      letter-spacing: 1.1px;
      font-size: 30px;
      line-height: 32px;
    }

    .star-wrapper {
      @include flexbox;
      @include flex(1);
      @include justify-content(flex-end);
      .fa-star {
        color: rgb(194, 195, 196);
        font-size: 32px;

        &.fav {
          color: gold;
        }
      }
    }
  }

  .pokemon-second-row {
    @include flexbox;
    margin-bottom: 40px;

    .pokemon-image {
      @include flexbox;
      @include justify-content(flex-start);
      width: 140px;
      height: 140px;
      overflow: hidden;

      figure {
        width: 100%;
        height: auto;
        background: #fff;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }

    .pokemon-info {
      margin-left: 40px;
      background-color: #fff;
      @include flexbox;
      @include flex(1);
      @include flex-wrap(wrap);

      .pokemon-info-h-w {
        p {
          @include flexbox;
          @include flex-wrap(wrap);
        }
        span {
          @include flex-basis(50%);
          font-size: 16px;
          line-height: 19px;
          padding: 3px 0;
          & + span {
            color: green;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .pokemon-third-row {
    @include flexbox;
    @include flex-wrap(wrap);
    background-color: #fff;
    margin-bottom: 30px;

    .pokemon-info-f-w {
      margin-bottom: 10px;
    }

   .pokemon-info-h-w {
     p {
       font-size: 18px;
       line-height: 21px;
       text-align: center;
       color: green;
       text-transform: capitalize;
       & + p {
        font-size: 16px;
        line-height: 19px;
        color: black;
        margin-top: 10px;
        padding-bottom: 20px;
      }
    }
   }
  }

  .pokemon-fourth-row {
    @include flexbox;
    @include flex-wrap(wrap);
    background-color: #fff;
    margin-bottom: 30px;

    .pokemon-info-f-w {
      margin-bottom: 10px;
    }

   .pokemon-info-h-w {
    @include flex-basis(33.33%);

     p {
       font-size: 19px;
       line-height: 21px;
       text-align: center;
       color: green;
       text-transform: capitalize;
       & + p {
         margin-bottom: 0;
        font-size: 16px;
        line-height: 19px;
        color: black;
        margin-top: 10px;
        padding-bottom: 20px;
      }
    }

    .move-title {
      margin-bottom: 10px;
    }

    .moves-details {
      @include flexbox;
      @include flex-wrap(wrap);

      p {
        @include flex-basis(50%);
      }

      .accuracy-wrap,
      .power-wrap {
        @include flex-basis(50%);
        p {
          color: black;
        }
      }
    }
   }
  }

  .pokemon-fifth-row {
    @include flexbox;
    @include flex-wrap(wrap);
    background-color: #fff;
    margin-bottom: 30px;

    a {
      text-decoration: none;
      color: #222;
      &:hover {
        text-decoration: none;
        color: #222;
      }
    }

    .pokemon-info-f-w {
      margin-bottom: 10px;
    }

    .pokemon-info-evolve {
      padding: 10px 30px 30px 10px;
      @include flexbox;
      @include justify-content(center);
      @include flex-basis(100%);

      .pokemon-info-evolve-item {
        & + .pokemon-info-evolve-item {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: -60px;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background: url(../images/icon-right.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }

      & > div {
        margin: 0 30px;
      }

      .pokemon-type-wrap {
        @include flexbox;
        @include justify-content(center);
        @include flex(1);
        margin-top: 20px;
      }

      h5 {
        text-align: center;
        text-transform: capitalize;
      }

      .img-wrapper {
        @include flexbox;
        @include justify-content(center);
      }
    }
  }

  .pokemon-buttons-wrapper {
    @include flex-basis(100%);
    @include flex-wrap(wrap);
    @include flexbox;

    margin-bottom: 50px;

    button {
      padding: 10px;
      color: #222;
      font-weight: 700;
      background-color: #fff;

      &:hover {
        cursor: pointer;
      }
    }

    .pokemon-button-left {
      @include flexbox;
      @include flex-basis(50%);
    }

    .pokemon-button-right {
      @include flexbox;
      @include flex-basis(50%);
      @include justify-content(flex-end);
    }
  }

  .pokemon-info-f-w {
    @include flex-basis(100%);
    background-color: gold;
    color: #fff;
    padding: 10px 30px;
  }

  .pokemon-info-h-w {
    @include flex-basis(50%);
    padding: 10px 30px;
  }
}

// POKEMON FAVORITES 
.star-wrapper {
  .fa-star {
    color: rgb(194, 195, 196);
    font-size: 32px;

    &.fav {
      color: gold;
    }
  }
}
.favorite-placeholder-holder {
  position: relative;
  width: 100%;
}

.favorites-title {
  @include flex-basis(100%);
  background-color: gold;
  color: #fff;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.pokemon_favorite_item {
  @include flexbox;
  @include flex-basis(100%);
  @include align-items(center);
  padding: 15px 0;
  border-bottom: 1px solid #222;

  .star-wrapper {
    font-size: 32px;
    margin-right: 30px;
  }

  .pokemon_favorite_item_id {
    font-size: 26px;
    padding: 0 15px;
    @include flex-basis(20%);
  }
  .pokemon_favorite_item_name {
    font-size: 26px;
    padding: 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    @include flex-basis(60%);
  }

  .link-wrapper {
    @include flexbox;
    @include flex(1);
    @include justify-content(flex-end);
  }
  .pokemon_favorite_item_link {
    text-decoration: none;
    font-size: 18px;
    color: #222;

    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
}