.page-content-wrapper {
  @include flexbox;
  background-color: whitesmoke;
  min-height: 100vh;
  font-family: 'Lato-Bold';
  position: relative;

  @media only screen and (max-width: 999px) {
    background-color: #fff;

    input,
    textarea,
    button,
    select,
    a {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
  }

  button[data-navigate="disabled"] {
    pointer-events: none;
    color: lightgray;
    border-color: lightgray;
  }

  .logo-wrapper-center {
    display: none;
    @media only screen and (max-width: 999px) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 30px;
      transform: translate(-50%, -50%);
      display: inline-block;
    }
  }

  .row, 
  .side-nav,
  .loader-holder,
  .burger {
    opacity: 1;
  }

  &.active {
    height: 100vh;
    background-color: gold;
    position: relative;
    overflow: hidden;

    .row, 
    .side-nav,
    .loader-holder,
    .burger {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .content {
    padding-top: 120px;
    position: relative;
    @include flex(1);
    @include justify-content(space-between);

    @media only screen and (max-width: 999px) {
      padding-left: 15px;
      padding-right: 15px;
      transition: none;
      padding-top: 90px;
    }
  }

  .pokemon_item {
    @include flex-basis(calc(33% - 30px));
    clip-path:polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display:inline-block;
    position: relative;
    padding: 0 40px;
    margin: 15px;
    height: 0;
    padding-bottom: 33%;
    background: #fff;
    font-family: 'Lato-Regular';
    border: 2px solid black;
    text-align: center;
    border-radius: 80px;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 900;
    --g:var(--c,transparent) calc(50% - 3px),#000 calc(50% - 2px),#000 450%, transparent 50%;
  background:
   linear-gradient(to top right   ,var(--g)) top right,
   linear-gradient(to top left    ,var(--g)) top left,
   linear-gradient(to bottom right,var(--g)) bottom right,
   linear-gradient(to bottom left ,var(--g)) bottom left;
  background-size:50% 50%;
  background-repeat:no-repeat;
 
  
  @media only screen and (max-width: 1250px) and (min-width: 1000px) {
    @include flex-basis(calc(50% - 30px));
    padding-bottom: calc(50% + 50px);
  }

  @media only screen and (max-width: 999px) {
    @include flex-basis(calc(100%));
    background: none;
    clip-path: initial;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    overflow: hidden;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    border-radius: 0;
  }
  

 .pokemon_item-content {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   @include flexbox;
   @include flex-wrap(wrap);
   @include justify-content(center);

   @media only screen and (max-width: 999px) {
      position: relative;
      display: block;
      overflow: hidden;
    }
  }

    @media only screen and (max-width: 1440px) and (min-width: 1251px)   {
      @include flex-basis(calc(33% - 30px));
    }

    @media only screen and (max-width: 999px) {
      @include flex-basis(calc(100%));
      padding-bottom: 0;
      display: block;

    }

    &:nth-of-type(3n) {
      margin-right: 15px;
    }

    &:hover {
      cursor: pointer;
    }

    .pokemon_type_item {
      position: relative;

      &::after {
        content: '>';
        font-size: 35px;
        position: absolute;
        width: 43px;
        height: 43px;
        position: absolute;
        right: -20px;
        top: -13px;
        color: #222;
        font-weight: 500;
        
        @media only screen and (max-width: 999px) {
          border: 1px solid black;
        }
      }
    }

    p {
      font-family: 'Lato-Bold';
    }

    &.bug {
      background-color: rgba(green, 0.8);

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.fire {
      background-color: rgba(orangered, 0.8);

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.normal {
      background-color: rgba(darksalmon, 0.8);

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.dark {
      background-color: #5a5979;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.flying {
      background-color: #93b2c7;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.poison {
      background-color: #9c69da;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.dragon {
      background-color: #60cad8;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.ghost {
      background-color: #906791;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.psychic {
      background-color: #f91c8e;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.water {
      background-color: rgba(blueviolet, 0.8);

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.ice {
      background-color: rgba(lightcyan, 0.8);

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.fighting {
      background-color: #ef6139;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.steel {
      background-color: #43bd94;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.ground {
      background-color: #694922;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.fairy {
      background-color: #eb1269;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.rock {
      background-color: #8b3e22;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.grass {
      background-color: #27cb50;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &.electric {
      background-color: #e2de59;

      @media only screen and (max-width: 999px) {
        background-color: transparent;
      }
    }

    &:hover {
      text-decoration: none;
      color: #222;
    }

    .img-wrapper {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @media only screen and (max-width: 999px) {
        border-radius: 100%;
        border: 1px solid  lightblue;
        order: 1;
      }
    }

    .pokemon_item-name {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 20px;
      font-family: 'Lato-Bold';

      @media only screen and (max-width: 999px) {
        text-align: left;
        margin-left: 20px;
        font-size: 13px;
        line-height: 14px;
      }
    }

    .specific-details {
      @include flexbox;
      @include flex-wrap(wrap);
      background: #fff;
      padding: 2% 14% 0;
      margin-left: -10px;
      margin-right: -10px;
      flex-basis: calc(100% + 20px);
      margin-top: 1%;
      margin-bottom: 10px;
      z-index: 1;
      position: relative;

      @media only screen and (max-width: 999px) {
        margin-left: 0;
        margin-right: 0;
        @include flex-basis(100%);
        background: transparent;
        padding: 0;
        margin-top: 0;
        margin-bottom: 15px;
        z-index: 0;
      }

      p {
        @include flex-basis(100%);

        @media only screen and (max-width: 999px) {
          @include flex(1);
          order: 2;
          margin-top: 40px;
        }
      }

      .pokemon_item-height,
      .pokemon_item-weight {
        height: 60px;

        @media only screen and (max-width: 999px) {
          display: none;
        }
      }

      .star-wrapper {
        display: none;

        @media only screen and (max-width: 999px) {
          order: 3;
          z-index: 10;
          position: relative;
          @include flexbox;
          @include align-items(center);
          @include justify-content(flex-end);
        }
      }
    }

    .two-columns {
      @include flexbox;
      @include flex-wrap(wrap);

      &>p {
        @include flex-basis(100%);
        @include flexbox;
        font-size: 20px;
        line-height: 22px;
        font-family: 'Lato-Bold';
      }

      p {
        &:first-of-type {
          @include align-items(flex-end);
        }
      }

      &.pokemon-xp {
        @include justify-content(center);
        padding-bottom: 15px;

        @media only screen and (max-width: 999px) {
          padding-bottom: 10px;
          display: none;
        }

        p {
          display: block;
          text-align: center;
        }
      }

      &:last-of-type {
        p {
          @include justify-content(flex-end);
        }
      }
    }

    .pokemon_item-id {
      width: 100%;
      font-size: 18px;
      line-height: 20px;
      font-family: 'Lato-Bold';
      margin-bottom: 8px;
      padding-top: 45px;

      @media only screen and (max-width: 999px) {
        padding-top: 20px;
        position: absolute;
        width: calc(100% - 150px);
        text-align: left;
        margin-left: 150px;
        font-size: 14px;
        line-height: 16px;
        color: grey;
      }
    }
  }
}

.burger {
  font-size:30px;
  cursor:pointer;
  position: absolute;
  top: 40px;
  left: 15px;
  z-index: 111;
  opacity: 0;
  transition: opacity 0.1s ease-in;

  @media only screen and (max-width: 999px) {
    transition: opacity 0.1s ease-in 0.3s;
    top: 10px;
  }
}

.row {
  margin: 0 auto;
  padding: 0 25px;
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-basis(100%);

  &.active {
    max-width: 100%;
    padding: 0;
    margin: 0;
    flex-basis: 100% !important;
  }
}
  .types-by-name-list {
  display: none;
  }

.type-by-name-active {
  .all-types-list {
    display: none;
  }

  .types-by-name-list {
    @include flexbox;
  }
}

.hide {
  display: none !important;
}
