.side-nav {
  @include flexbox;
  @include flex-direction(column);
  width: 300px;
  min-width: 300px;
  background: rgb(58, 58, 58);
  color: #fff;
  padding: 50px 20px 80px;
  height: 100%;
  z-index: 123;
  position: fixed;
  opacity: 1;
  transition: width 0.3s ease-in, min-width 0.3s ease-in 0.2s, opacity 0.2s ease-in 0.2s;
  overflow: hidden;

  @media only screen and (max-width: 999px) {
    background: #fff;
    color: #000;
    width: 80%;
    min-width: 80%;
    transition: width 0.3s ease-in, min-width 0.3s ease-in 0.2s, opacity 0.2s ease-in 0.2s;
    border-right: 1px solid #000;
  }

  li {
    display: block;
    font-size: 18px;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    border-bottom: 1px solid rgb(58, 58, 58);

    &:hover {
      border-bottom: 1px solid #fff;
      transition: border 0.15s ease-in-out;

      @media only screen and (max-width: 999px) {
        border-color: gold;
      }

      a {
        color: #fff;
        transition: color 0.3s ease-in-out;

        @media only screen and (max-width: 999px) {
          color: gold;
        }
      }
    }
    
    a {
      display: block;
      padding: 20px 10px;
      color: rgb(228, 226, 226);
      text-decoration: none;

      @media only screen and (max-width: 999px) {
        color: #000;
      }
    }

    &.active {
      a {
        color: #fff;
      }
    }

    &:last-of-type {
      border-top: 1px solid #fff;
      border-bottom: none;
      text-align: center;
      @include flexbox;
      @include flex-basis(100%);
    }

    &.pokeball {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/pokeball.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &.typedex {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/typedex.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &.favorites {
      &::before {
        content: '';
        position: absolute;
        left: -4px;
        width: 35px;
        height: 35px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/favorite.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
      
      &:hover {
        border-bottom: 1px solid rgb(58, 58, 58);
      }
    }

    &.exit {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 30px;
        height: 38px;
        top: 50%;
        transform: translate(0%, -50%);
        background-image: url(../images/exit.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .logo-wrapper {
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;

    @media only screen and (max-width: 999px) {
      border-bottom: 1px solid black;
      text-shadow: 2px 2px #2e2d2d;
    }

  }
  .logo {
    display: block;
    width: 140px;
    height: auto;

    &:first-of-type {
      display: block;

      @media only screen and (max-width: 999px) {
        display: none;
      }
    }

    &:last-of-type {
      display: none;
      @media only screen and (max-width: 999px) {
        display: block;

      }
    }
  }
}